:root {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#container {
    width: 960px;
    height: 600px;
}

#legend {
    width: 300px;
    height: 50px;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}